<% include ../partials/header.ejs%>

<% include ../partials/navbar.ejs%>


<section class="align-items-center mSpacemargin">

<div class="card card-comments mb-3 wow fadeIn mt-5 mx-5">
    <div class="card-body">

        <form action="/blog/<%= blog_id %>/comments/<%= comment._id %>?_method=PUT" method="post">
           
            <div class="form-group">
                <label for="blogpost">Your comment</label>
                <textarea class="form-control" name="comment[text]" rows="5" id="blogpost"><%=comment.text %> </textarea>
            </div>
            <div class="text-center">
                <button class="btn btn-info btn-sm" type="submit">Post</button>
            </div>

        </form>
    </div>
</div>
    </section>
<% include ../partials/footer%>
