<% include ../partials/header.ejs%>

    <!--Navbar-->
    <% include ../partials/navbar.ejs%>
        <!--/.Navbar-->
        <div class="container-fluid">
            <div class="card mx-auto" style="width: 50%;">

                <div class="card-body">
                    <div class="mb-4">Editing <%= blog.title %>
                    </div>

                    <form action="/blog/<%= blog._id %>?_method=PUT" method="post">

                        <div class="form-outline mb-4">
                            <input type="text" id="editTitle" class="form-control" name="blog[title]"
                                value="<%= blog.title %>" />
                            <label class="form-label" for="editTitle">Blog Title</label>
                        </div>

                        <div class="form-outline mb-4">
                            <textarea class="form-control" name="blog[body]" rows="5"
                                id="blogpost"><%= blog.body %> </textarea>
                            <label class="form-label" for="blogpost">Description</label>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-outline-primary btn-sm" type="submit">Save</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <% include ../partials/blogsFooter.ejs%>