<% include ../partials/header.ejs%>

<% include ../partials/navbar.ejs%>


    <!-- Start your project here-->
<!--Mask-->
<div id="intro" class="view">

    <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-10">

                    <!-- Heading -->
                    <h1 class="display-4 font-weight-bold white-text pt-5 mb-2">Diocese of Barbados</h1>
                    <h4 class="display-4 font-weight-bold white-text pt-5 mb-2">The Church of the Resurrection</h4>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <h6 class="white-text my-4 ">Rector:  The Rev Hugh Sandiford Telephone: (246-279-8569)</h6>
                    <h6 class="white-text my-4">Times of Services Sunday 7.30 am 9.30 am (2nd Sunday)</h6>
                    <a href="/login" class="btn btn-outline-light btn-sm white-text" role="button">Login<i class="fas fa-address-card ml-2"></i></a>
                    <a href="/register" class="btn btn-outline-light btn-sm white-text" role="button">Register<i class="fas fa-address-card ml-2"></i></a>

                </div>

            </div>

        </div>

    </div>

</div>
<!--/.Mask-->
</header>

<!--Main Navigation-->

<!--Main layout-->

<!-- Section current service rotating pictures-->
<main id="" class="">
    <div class="container">
        <section id="#">
            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold text-center white-text">Current Events</h2>

            <!-- Testing video -->
            <!--<iframe width="500" height="500" src="http://caritech.net/church/"></iframe-->
            <!-- Testing video -->

            <!-- Grid Row-->
            <div class="row">
                <!-- Grid Collumn -->
                <div class="col-md-12 mb-4 flex-center">
                    <!--Carousel Wrapper-->
                    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                        <!--Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                        </ol>
                        <!--/.Indicators-->
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            <!-- First slide -->
                            <!-- Might have to wrap the entire image in an anchor tag -->
                            <div class="carousel-item active">
                                <a style="background-color: black; color: white; text-decoration: none; padding: 4px 6px; font-family: -apple-system, BlinkMacSystemFont, &quot; san francisco&quot; , &quot; helvetica neue&quot; , helvetica, ubuntu, roboto, noto, &quot; segoe ui&quot; , arial, sans-serif; font-size: 12px; font-weight: bold; line-height: 1.2; display: inline-block; border-radius: 3px" href="https://unsplash.com/@aaronburden?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Aaron Burden"><span style="display: inline-block; padding: 2px 3px">

                                    <img class="d-block w-100" src="/img/aaron-burden-287555-unsplash.jpg" alt="First slide">
                                    <p>Sermon - Annual Diocesan Service 2018 Sermon delivered by The Rt Rev Phillip Wright, Bishop of Belize</p>
                                    <svg xmlns="http://www.w3.org/2000/svg" style="height: 12px; width: auto; position: relative; vertical-align: middle; top: -1px; fill: white" viewBox="0 0 32 32">
                                        <title>unsplash-logo</title>
                                        <path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg></span><span style="display: inline-block; padding: 2px 3px">Aaron Burden</span>
                                </a>
                            </div>
                            <!--/First slide-->

                            <!--Second slide-->
                            <div class="carousel-item">
                                <a style="background-color: black; color: white; text-decoration: none; padding: 4px 6px; font-family: -apple-system, BlinkMacSystemFont, &quot; san francisco&quot; , &quot; helvetica neue&quot; , helvetica, ubuntu, roboto, noto, &quot; segoe ui&quot; , arial, sans-serif; font-size: 12px; font-weight: bold; line-height: 1.2; display: inline-block; border-radius: 3px" href="https://unsplash.com/@kaylavharris?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Kayla Harris"><span style="display: inline-block; padding: 2px 3px">

                                    <img class="d-block w-100" src="/img/kayla-harris-1052269-unsplash.jpg" alt="Second slide">
                                    <p>Message to launch the Diocesan Strategic Plan The Most Rev’d and Dr. John Holder Bishop of Barbados Archbishop of the Church in the Province of the West Indies Message to launch the Diocesan Strategic Plan Diocesan Service - February 7, 26 My Sisters and Brothers in Christ, we have gathered to</p>
                                    <svg xmlns="http://www.w3.org/2000/svg" style="height: 12px; width: auto; position: relative; vertical-align: middle; top: -1px; fill: white" viewBox="0 0 32 32">
                                        <title>unsplash-logo</title>
                                        <path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg></span><span style="display: inline-block; padding: 2px 3px">Kayla Harris</span></a>
                            </div>
                            <!--/Second slide-->

                            <!--Third slide-->
                            <div class="carousel-item">
                                <!-- Pull image from img folder works -->
                                <a style="background-color: black; color: white; text-decoration: none; padding: 4px 6px; font-family: -apple-system, BlinkMacSystemFont, &quot; san francisco&quot; , &quot; helvetica neue&quot; , helvetica, ubuntu, roboto, noto, &quot; segoe ui&quot; , arial, sans-serif; font-size: 12px; font-weight: bold; line-height: 1.2; display: inline-block; border-radius: 3px" href="https://unsplash.com/@nicolehoneywill?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Nicole Honeywill"><span style="display: inline-block; padding: 2px 3px">

                                    <img class="d-block w-100" src="/img/nicole-honeywill-703542-unsplash.jpg" alt="Third slide">
                                    <p>Annual Diocesan Service 2018 The service will be streamed live from 10:00a.m. Click on the link below.</p>
                                    <svg xmlns="http://www.w3.org/2000/svg" style="height: 12px; width: auto; position: relative; vertical-align: middle; top: -1px; fill: white" viewBox="0 0 32 32">
                                        <title>unsplash-logo</title>
                                        <path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg></span><span style="display: inline-block; padding: 2px 3px">Nicole Honeywill</span></a>
                            </div>
                            <!--/Third slide-->

                        </div>
                        <!--/.Slides-->
                        <!--Controls-->
                        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!--/.Controls-->
                    </div>
                    <!--/.Carousel Wrapper-->
                </div>
            </div>
        </section>
    </div>
</main>


<!--/Main layout-->

<!--Footer-->
<!--Start your project here-->

<!-- SCRIPTS -->
<!-- Carousel options -->
<script>
    $('.carousel').carousel({
        interval: 3000,
    })
</script>



<% include ../partials/footer.ejs%>